<a href="https://colab.research.google.com/github/doaa450/Stock-price-prediction-using-GAN/blob/master/%D9%84%D9%88%D8%BA%D8%A7%D8%B1%D8%AA%D9%8A%D9%85.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler
from sklearn.metrics import r2_score
%matplotlib inline
sns.set_style('whitegrid')
plt.style.use("fivethirtyeight")
sns.set(rc={'figure.figsize': [9, 9]}, font_scale=1.2)

In [2]:
from sklearn.linear_model import  Ridge

In [3]:
df=pd.read_excel('/content/1دعاء.xlsx')

In [4]:
df.head()

,year,y,x1,x2,x3,x4,x5,x6,x7,x8,...,LX4,LX5,LX6,LX7,LX8,LX9,LX10,LX11,LX12,LX13
0,1970,783898,3,175,10,58144,4747,10016,65407,4747,...,10.970678,8.465268,9.211939,11.088385,8.465268,7.565275,12.566847,10.517510,12.629420,9.154933
1,1971,921952,4,140,12,60747,5232,60747,65992,5232,...,11.014473,8.562549,11.014473,11.097289,8.562549,7.673223,12.634509,10.546446,12.813855,9.149741
2,1972,926661,3,149,11,64309,5524,64309,70254,5524,...,11.071455,8.616858,11.071455,11.159873,8.616858,7.709308,12.678595,10.613098,12.746042,9.178540
3,1973,882018,3,408,13,65738,5456,65738,71057,5456,...,11.093432,8.604471,11.093432,11.171238,8.604471,7.751045,12.600396,10.610414,12.672968,9.168163
4,1974,936014,4,330,16,63905,5862,63905,69144,5862,...,11.065153,8.676246,11.065153,11.143947,8.676246,7.776954,12.694751,10.593931,12.764353,9.120853

In [5]:
df.columns

Index(['year', 'y', 'x1', 'x2', 'x3', 'x4', 'x5', 'x6', 'x7', 'x8', 'x9',
       'x10', 'x11', 'x12', 'x13', 'LY', 'LX1', 'LX2', 'LX3', 'LX4', 'LX5',
       'LX6', 'LX7', 'LX8', 'LX9', 'LX10', 'LX11', 'LX12', 'LX13'],
      dtype='object')

# Drop Year
# split data 
# Standarization
# Build Model 
# Performance Measure

In [6]:
df.drop('year',axis=1,inplace= True)

In [7]:
df.head()

,y,x1,x2,x3,x4,x5,x6,x7,x8,x9,...,LX4,LX5,LX6,LX7,LX8,LX9,LX10,LX11,LX12,LX13
0,783898,3,175,10,58144,4747,10016,65407,4747,1930,...,10.970678,8.465268,9.211939,11.088385,8.465268,7.565275,12.566847,10.517510,12.629420,9.154933
1,921952,4,140,12,60747,5232,60747,65992,5232,2150,...,11.014473,8.562549,11.014473,11.097289,8.562549,7.673223,12.634509,10.546446,12.813855,9.149741
2,926661,3,149,11,64309,5524,64309,70254,5524,2229,...,11.071455,8.616858,11.071455,11.159873,8.616858,7.709308,12.678595,10.613098,12.746042,9.178540
3,882018,3,408,13,65738,5456,65738,71057,5456,2324,...,11.093432,8.604471,11.093432,11.171238,8.604471,7.751045,12.600396,10.610414,12.672968,9.168163
4,936014,4,330,16,63905,5862,63905,69144,5862,2385,...,11.065153,8.676246,11.065153,11.143947,8.676246,7.776954,12.694751,10.593931,12.764353,9.120853

In [8]:
X=df.iloc[:,15:]

In [9]:
X

,LX1,LX2,LX3,LX4,LX5,LX6,LX7,LX8,LX9,LX10,LX11,LX12,LX13
0,1.098612,5.164786,2.302585,10.970678,8.465268,9.211939,11.088385,8.465268,7.565275,12.566847,10.517510,12.629420,9.154933
1,1.386294,4.941642,2.484907,11.014473,8.562549,11.014473,11.097289,8.562549,7.673223,12.634509,10.546446,12.813855,9.149741
2,1.098612,5.003946,2.397895,11.071455,8.616858,11.071455,11.159873,8.616858,7.709308,12.678595,10.613098,12.746042,9.178540
3,1.098612,6.011267,2.564949,11.093432,8.604471,11.093432,11.171238,8.604471,7.751045,12.600396,10.610414,12.672968,9.168163
4,1.386294,5.799093,2.772589,11.065153,8.676246,11.065153,11.143947,8.676246,7.776954,12.694751,10.593931,12.764353,9.120853
5,2.484907,5.680173,2.772589,11.110820,8.817298,11.110820,11.190776,8.817298,7.888710,12.742782,10.580480,12.556730,9.038603
6,2.564949,5.808142,2.564949,11.037676,8.849371,11.037676,11.199584,8.849371,7.875119,12.751830,10.646995,12.821207,9.251578
7,3.761200,5.560682,2.708050,11.089393,8.915567,11.089393,11.173023,8.915567,7.950150,12.694444,10.595159,12.756166,9.256078
8,2.708050,5.393628,2.484907,10.931445,8.976768,10.931445,11.189699,8.976768,7.682482,12.708419,10.611105,12.767233,9.446045
9,2.995732,5.627621,2.564949,11.044505,8.939056,11.044505,11.131299,8.939056,8.050384,12.741636,10.592526,12.796198,9.284984
10,2.890372,5.693732,2.302585,10.966214,8.878219,10.966214,11.046579,8.878219,8.005033,12.749321,10.515262,12.803213,9.256651
11,2.944439,5.932245,2.484907,10.930264,9.055790,10.930264,11.032257,9.055790,8.155075,12.752817,10.584486,12.811241,9.235131
12,2.944439,5.068904,2.833213,11.093311,9.138092,11.093311,11.038833,9.138092,8.226573,12.748441,10.525810,12.759262,9.253208
13,2.833213,4.941642,2.995732,11.111507,9.205629,11.111507,11.049619,9.205629,8.239857,12.743384,10.550774,12.762489,9.367771
14,2.708050,4.787492,4.543295,11.007966,9.277719,11.007966,11.103211,9.277719,8.455956,12.846718,10.517023,12.909549,9.243388
15,2.302585,4.804021,2.995732,10.949261,9.217415,10.949261,11.038239,9.217415,8.482602,12.834132,10.539562,12.897060,9.486532
16,2.397895,4.828314,2.890372,10.876990,9.193398,10.876990,10.963255,9.193398,8.507143,12.813308,10.453226,12.879173,9.386644
17,2.484907,4.709530,2.772589,10.725775,9.250618,10.725775,11.130273,9.250618,8.609408,12.814441,10.458062,12.873971,9.247732
18,2.708050,4.828314,2.397895,10.832260,9.282196,10.832260,11.095378,9.282196,8.710290,12.842178,10.506847,12.891394,9.376702
19,2.833213,4.779123,1.609438,10.759731,9.378056,10.759731,10.637921,9.378056,8.628198,12.779670,11.084509,12.838283,9.565424
20,3.044522,4.867534,2.302585,10.846595,9.666815,10.846595,10.895720,9.666815,8.666992,12.887714,10.518105,12.866518,9.595467
21,3.850148,4.828314,2.564949,10.745270,9.361601,10.745270,10.640819,9.361601,8.561210,12.808573,10.443425,12.869255,9.389407
22,2.708050,4.867534,2.639057,10.882002,9.446519,10.882002,11.237106,9.446519,8.656955,12.798720,10.462875,12.854936,9.565003
23,2.484907,4.787492,2.708050,10.709383,9.541513,10.709383,10.619814,9.541513,8.725994,12.831572,10.662844,12.994703,9.536907
24,2.397895,4.867534,2.639057,10.719162,9.605216,10.719162,10.852342,9.605216,8.821585,12.823542,10.618372,12.966813,9.535752
25,2.772589,5.043425,2.397895,10.690262,9.688622,10.690262,10.819518,9.688622,8.896314,12.820769,10.718897,12.965518,9.618934
26,2.397895,5.123964,2.708050,10.465016,9.728241,10.465016,10.810455,9.728241,9.003685,13.004766,10.680240,13.045456,9.668524
27,3.526361,4.290459,2.995732,10.887549,9.846600,10.887549,11.013798,9.846600,8.945072,13.015368,10.700679,13.076361,9.688808
28,2.484907,4.663439,2.833213,10.862244,9.929253,10.862244,10.796755,9.929253,9.041093,13.018240,10.748325,13.073944,9.697693
29,2.079442,2.890372,2.079442,10.883767,9.967307,10.883767,11.009688,9.967307,9.043577,13.072673,10.771113,13.139875,9.715711
30,1.386294,3.044522,2.079442,10.571112,9.970258,10.571112,10.922263,9.970258,8.986822,13.205017,10.753638,13.269874,9.681031
31,1.791759,3.044522,3.044522,10.596635,9.986449,10.596635,10.751607,9.986449,8.943245,12.935581,10.638976,13.002329,9.546884
32,1.386294,3.044522,2.995732,10.581267,9.976506,10.581267,10.723884,9.976506,9.033484,13.044026,10.765111,13.359153,9.670104
33,1.386294,3.044522,2.397895,10.514312,9.866979,10.514312,10.650270,9.866979,9.047586,13.100895,10.775408,13.248088,9.698552
34,1.945910,5.866468,1.945910,10.994958,9.881651,10.994958,10.530682,9.881651,9.019543,13.126256,10.740778,13.181669,9.654193
35,1.791759,5.003946,1.386294,11.318187,9.896110,11.318187,10.486708,9.896110,8.990566,13.069593,10.721548,13.129240,9.634038
36,1.609438,4.262680,1.609438,11.368131,9.926862,11.368131,10.518349,9.926862,9.003316,13.074559,10.657542,12.610080,9.581628
37,2.564949,3.737670,2.197225,10.491524,10.070992,10.491524,10.601548,10.070992,9.223553,13.235281,10.822076,13.290978,9.751618
38,1.945910,6.424869,1.791759,10.568210,10.202295,10.568210,10.650152,10.202295,9.338822,13.312648,11.325113,13.366264,10.016906
39,2.079442,6.629363,1.386294,10.965384,10.813257,10.965384,10.727663,10.813257,9.393245,13.442305,11.155393,13.505531,10.129427
40,2.484907,7.261927,2.995732,10.062455,11.174806,10.062455,11.158106,11.174806,9.788301,13.438531,11.255928,13.634411,10.284353
41,1.386294,6.480045,1.791759,11.020136,10.977038,11.020136,11.116232,10.977038,10.111071,13.432789,11.274579,13.587981,10.279387
42,1.791759,6.228511,2.302585,11.041417,10.967974,11.041417,11.120061,10.967974,10.119606,13.437908,11.328882,13.693855,10.402473
43,2.302585,6.893656,1.945910,11.119913,10.971434,11.119913,11.203461,10.971434,10.156617,13.435141,11.333871,13.680667,10.426054
44,2.639057,6.393591,1.386294,11.189782,11.081958,11.189782,11.280691,11.081958,10.383998,13.663530,11.409663,13.722623,10.545999
45,2.302585,6.398595,1.609438,11.194853,11.199625,11.194853,11.304720,11.199625,10.449700,13.442891,11.485719,13.734159,10.694736
46,2.397895,6.426488,1.945910,11.091224,11.191066,11.091224,11.193381,11.191066,10.432497,13.432709,11.456429,13.702238,10.676854
47,2.197225,6.977281,2.197225,11.072092,11.272763,11.072092,11.192376,11.272763,10.477063,13.439915,11.433828,13.669844,10.704973
48,2.397895,6.536692,2.079442,11.082204,11.351206,11.082204,11.204728,11.351206,10.613713,13.432143,11.432550,13.638180,10.722540
49,2.564949,6.333280,1.386294,11.153504,11.438105,11.153504,11.304634,11.438105,10.724236,13.440167,11.464785,13.684042,10.840306

In [10]:
Y=df.iloc[:,14:15]

In [11]:
Y

           LY
0   13.572034
1   13.734248
2   13.739343
3   13.689968
4   13.749386
5   13.706347
6   13.797374
7   13.757036
8   13.750169
9   13.780197
10  13.765497
11  13.770668
12  13.770221
13  13.776499
14  13.858939
15  13.841226
16  13.809578
17  13.803838
18  13.833259
19  13.791152
20  13.843548
21  13.777923
22  13.822713
23  13.850065
24  13.847246
25  13.849987
26  13.936295
27  13.998340
28  13.991628
29  14.052159
30  14.129985
31  13.903390
32  14.104256
33  14.065079
34  14.076834
35  14.067580
36  13.903902
37  14.143810
38  14.243437
39  14.397947
40  14.460420
41  14.466880
42  14.518971
43  14.521733
44  14.642093
45  14.585760
46  14.555579
47  14.549538
48  14.543894
49  14.586829

In [12]:
# Scaling all the variables to a range of 0 to 1
from sklearn.preprocessing import MinMaxScaler
features = X.columns.values
scaler = MinMaxScaler(feature_range = (0,1))
scaler.fit(X)
X = pd.DataFrame(scaler.transform(X))
X.columns = features

In [13]:
X_train, X_test, y_train, y_test = train_test_split(X, Y, test_size=0.3, random_state=25)

In [14]:
from sklearn.linear_model import  Ridge

ridge = Ridge(alpha=0.001)
ridge.fit(X_train, y_train)

Ridge(alpha=0.001)

In [15]:
trainPredict=ridge.predict(X_train)

In [16]:
testPredict=ridge.predict(X_test)

In [17]:
#from sklearn.model_selection import TimeSeriesSplit

In [18]:
#tscv = TimeSeriesSplit(n_splits=3)

## RMSE

In [19]:
import math
from sklearn.metrics import mean_squared_error
trainScore = math.sqrt(mean_squared_error(y_train, trainPredict))
print('Train Score: %.2f RMSE' % (trainScore))
testScore = math.sqrt(mean_squared_error(y_test, testPredict))
print('Test Score: %.2f RMSE' % (testScore))

Train Score: 0.01 RMSE
Test Score: 0.02 RMSE

## MAE

In [20]:
MAE_test=np.mean(np.abs(testPredict-y_test))

/usr/local/lib/python3.10/dist-packages/numpy/core/fromnumeric.py:3472: FutureWarning: In a future version, DataFrame.mean(axis=None) will return a scalar mean over the entire DataFrame. To retain the old behavior, use 'frame.mean(axis=0)' or just 'frame.mean()'
  return mean(axis=axis, dtype=dtype, out=out, **kwargs)

In [21]:
MAE_test

LY    0.010902
dtype: float64

In [22]:
MAE_train=np.mean(np.abs(trainPredict-y_train))

/usr/local/lib/python3.10/dist-packages/numpy/core/fromnumeric.py:3472: FutureWarning: In a future version, DataFrame.mean(axis=None) will return a scalar mean over the entire DataFrame. To retain the old behavior, use 'frame.mean(axis=0)' or just 'frame.mean()'
  return mean(axis=axis, dtype=dtype, out=out, **kwargs)

In [23]:
MAE_train

LY    0.005343
dtype: float64

## MAPE

In [24]:
import numpy as np

def mape(actual, pred): 
    actual, pred = np.array(actual), np.array(pred)
    return np.mean(np.abs((actual - pred) / actual)) * 100

In [25]:
mape(y_test,testPredict)

0.0768046126161341

In [26]:
mape(y_train,trainPredict)

0.03796723800631897

In [27]:
y_test

           LY
36  13.903902
46  14.555579
7   13.757036
41  14.466880
17  13.803838
14  13.858939
34  14.076834
33  14.065079
45  14.585760
39  14.397947
48  14.543894
40  14.460420
2   13.739343
27  13.998340
11  13.770668

In [28]:
testPredict.round(2)

array([[13.87],
       [14.55],
       [13.75],
       [14.48],
       [13.81],
       [13.86],
       [14.08],
       [14.06],
       [14.59],
       [14.4 ],
       [14.53],
       [14.41],
       [13.74],
       [14.  ],
       [13.78]])

In [29]:
import statsmodels.api as sm

In [30]:
 
# performing the regression
# and fitting the model
result = sm.OLS(Y, X).fit()
 
# printing the summary table
print(result.summary())

                                 OLS Regression Results
=======================================================================================
Dep. Variable:                     LY   R-squared (uncentered):                   0.980
Model:                            OLS   Adj. R-squared (uncentered):              0.974
Method:                 Least Squares   F-statistic:                              157.5
Date:                Fri, 12 May 2023   Prob (F-statistic):                    1.53e-28
Time:                        20:04:12   Log-Likelihood:                         -104.80
No. Observations:                  50   AIC:                                      233.6
Df Residuals:                      38   BIC:                                      256.5
Df Model:                          12
Covariance Type:            nonrobust
==============================================================================
                 coef    std err          t      P>|t|      [0.025      0.975]
------------------------------------------------------------------------------
LX1            1.4211      1.627      0.874      0.388      -1.872       4.714
LX2            1.3353      2.025      0.660      0.514      -2.763       5.434
LX3            7.3560      2.661      2.765      0.009       1.970      12.742
LX4            6.2599      3.000      2.087      0.044       0.186      12.333
LX5            3.5409      4.777      0.741      0.463      -6.129      13.211
LX6            5.2498      3.033      1.731      0.092      -0.889      11.389
LX7           -0.6070      1.685     -0.360      0.721      -4.018       2.804
LX8            3.5409      4.777      0.741      0.463      -6.129      13.211
LX9           -2.3780      7.240     -0.328      0.744     -17.034      12.278
LX10           0.5970      6.196      0.096      0.924     -11.946      13.140
LX11          -0.0868      3.720     -0.023      0.982      -7.619       7.445
LX12           6.6645      4.708      1.416      0.165      -2.867      16.196
LX13          -8.3160      9.228     -0.901      0.373     -26.998      10.366
==============================================================================
Omnibus:                        8.879   Durbin-Watson:                   1.088
Prob(Omnibus):                  0.012   Jarque-Bera (JB):               15.110
Skew:                           0.381   Prob(JB):                     0.000523
Kurtosis:                       5.583   Cond. No.                     7.69e+16
==============================================================================

Notes:
[1] R² is computed without centering (uncentered) since the model does not contain a constant.
[2] Standard Errors assume that the covariance matrix of the errors is correctly specified.
[3] The smallest eigenvalue is 2.9e-32. This might indicate that there are
strong multicollinearity problems or that the design matrix is singular.

In [31]:
import numpy as np

def MPE(actual, pred): 
    actual, pred = np.array(actual), np.array(pred)
    return np.sum((actual - pred) / actual) * 100

In [32]:
MPE(y_test,testPredict)

0.5375372406980296

In [33]:
MPE(y_train,trainPredict)

-0.0010279027624494328